<!DOCTYPE html>
<html lang="en" id="html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TakeNote</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
    <link href='/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Include JS file. -->
    <script src="/js/text_functions.js"></script>
    <script src="/js/mousetrap.js"></script>
    <script src="/js/morphbar.js"></script>
    <script src="/js/objects.js"></script>
    <script type='text/javascript' src='/js/froalajs/froala_editor.pkgd.min.js'></script>
    <script type='text/javascript' src='/js/froalajs/plugins/link.min.js'></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>


    <!-- Include Editor style. -->
    <link rel="stylesheet" href="css/style.css">

    <style>
        .draggable {
            width: 150px;
            height: 150px;
            padding: 0.1em;
        }
    </style>

</head>

<body id="body">
    <header class="header">
        <div class="button-toolbar">
            .
        </div>
        <div class="morph-toolbar">

        </div>
    </header>
    <div id="contentHolder" class="wrap">

        <!-- <div id="1" class="ui-widget-content draggable">
            <div class="handle">...</div>
            <div class="editable-div">
                <input type="text" name="" id="title 1" class="title">
                <p><a href="">Immutable</a></p> Editor State: The Draft.js model is built with immutable-js, offering an API with functional state updates and aggressively leveraging data persistence for scalable memory us
            </div>
        </div> -->

    </div>

    <footer id="toolbar">


    </footer>
</body>

<script>
    body = document.getElementById('body').innerHTML;;

    async function setUpEditor() {
        editor = await console.log(setup_froala());
        console.log(editor);
    }

    function removeRedBanner() {

        var obj = $(".fr-wrapper");
        if (obj.length != undefined) {
            obj.each((num, ele) => {
                var child = ele.firstChild;
                if (child.classList.length == 0) child.remove();
            });
        } else {
            var child = obj.find(':first-child');
            if (child.classList.length == 0) child.remove();
        }
    }

    function removeFooter() {
        $('#toolbar').find(':first-child').remove();
    }

    function removeClasses() {


        rm('.fr-box');
        rm('.fr-basic');
        rm('.fr-wrapper');
        rm('.fr-quick-insert');
        rm('.second-toolber');
        rm('.fr-element');
        rm('.fr-view');

        $('.ui-resizable-handle').remove();
        $('.fr-placeholder').remove();
        $('.second-toolbar').remove();
    }

    function rm(class_name) {
        $(class_name).removeClass(class_name);
        var cln = class_name.replace('.', '');
        $(class_name).each((index, elemet) => {
            elemet.classList.remove(cln);
        });
    }

    function removeEditor() {
        // console.log(editor);
        if (editor) {
            if (editor.length != undefined)
                editor.forEach(ed => {
                    ed = null;
                });

            else
                editor = null;
        }
    }

    function setUpDraggingAndResizing() {
        var drag = $('.draggable');
        var ed = $('.editable-div');
        if (drag.length != undefined)
            drag.each((number, element) => {
                var ele = $(element);
                ele.draggable();
                ele.resizable();

                ele.mousedown((e) => {
                    drag.each((number, element) => {
                        $(element).removeClass('zindex');
                    });
                    ele.draggable('enable');
                    ele.addClass('zindex');
                })
            });
        else {
            drag.draggable();
            drag.resizable();
            drag.mousedown((e) => {
                drag.draggable('enable');
            })
        }

        if (ed.length != undefined)
            ed.each((number, element) => {
                var ele = $(element);

                ele.mousedown((e) => {
                    ele.parent().draggable('disable');
                })
            });


    }

    function createNewNode(id) {
        $('<div id="' + id + '" style="left:' + currentMousePos.x + 'px; top:' + currentMousePos.y + 'px;" class="ui-widget-content draggable"><div class="handle">...</div><input type="text" name="" id="title ' + id + '" class="title" placeholder="Title..."><div class="editable-div"></div></div>').appendTo($('#contentHolder'));
        editor = setup_froala(id);
        editorList.push(editor);
        objectList.push($('#' + id));
        setUpDraggingAndResizing();
        bindMouseUp(id)
    }

    function bindMouseUp(id) {
        $('#' + id).find('.editable-div').mouseup(function(e) {
            var text = getSelectedText();
            console.log(text);
            if (text == '' || text === undefined) {
                if (showing) removeSelectionButton();
                return;
            }
            createLinkButton();
            $(this)['context']['data-froala.editor'].customPlugin.showPopup();
            //replaceSelectedText(text);
        });

        $('#' + id).find('.editable-div').focusout(function(e) {
            if (showing && clickButton) removeSelectionButton();
        });
    }



    function getSelectedText() {
        if (window.getSelection) {
            var sel = window.getSelection();
            if (sel == '' || sel === undefined) return;
            if (sel.anchorNode.parentNode.className == '') {
                return sel.toString();
            } else return undefined;
        } else if (document.selection) {
            return document.selection.createRange().text;
        }
        return '';
    }

    function justPrint() {
        console.log("just printing some text");
    }




    function onPageLoad() {
        var bareBones = document.getElementById('body').innerHTML;
        var refreshNeeded = false;

        $('#contentHolder').dblclick(() => {
            var id = $('.draggable').length + 1;
            createNewNode(id);

        });

        Mousetrap.bind('ctrl+d', (e) => {
            console.log(objectList);
            console.log(editorList);
        });

        Mousetrap.bind('ctrl+s', function(e) {
            body = document.getElementById('body').innerHTML;
        });
        Mousetrap.bind('ctrl+r', function(e) {
            var body1 = document.getElementById('body');
            body1.innerHTML = body;
            //debugger;
            removeEditor();
            //removeFooter();
            removeClasses();
            setUpEditor();
            setUpDraggingAndResizing();
            onPageLoad();
            //return true;
        });
    }

    $(function() {
        setUpDraggingAndResizing();
        //setUpEditor();
        onPageLoad();

        $(document).mousemove((e) => {
            currentMousePos.x = e.pageX;
            currentMousePos.y = e.pageY;
        })
    });

    var currentMousePos = {
        x: -1,
        y: -1
    };
</script>


</html>