<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

    <script src="js/displace.min.js"></script>

    <!-- Include Editor style. -->
    <link href='/css/froala_editor.min.css' rel='stylesheet' type='text/css' />

    <!-- Include JS file. -->
    <script type='text/javascript' src='/js/froalajs/froala_editor.min.js'></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="js/jqui/ui/jquery.ui.core.js"></script>
  <script src="js/jqui/ui/jquery.ui.widget.js"></script>
  <script src="js/jqui/ui/jquery.ui.mouse.js"></script>
  <script src="js/jqui/ui/jquery.ui.draggable.js"></script>
  <script src="js/jqui/jquery-collision.min.js"></script>
  <script src="js/jqui/jquery-ui-draggable-collision.min.js"></script> -->
    <script>
        $(function() {


            // var editor = new Quill('.editable-div', {
            //     modules: {
            //         toolbar: '#toolbar'
            //     },
            //     theme: 'snow'
            // });

            new FroalaEditor('.editable-div', {
                toolbarContainer: '#toolbar',
            });

            document.querySelectorAll('.editable-div').forEach(Element => {

            });



            $('.editable-div').mouseup(function() {
                var text = getSelectedText();
                if (text == '' || text === undefined) return;
                replaceSelectedText(text);
            });

            function getSelectedText() {
                if (window.getSelection) {
                    var sel = window.getSelection();
                    if (sel == '' || sel === undefined) return;
                    console.log(sel);
                    if (sel.anchorNode.parentNode.className == 'editable-div') {
                        return sel.toString();
                    } else return undefined;
                    //return window.getSelection().toString();
                } else if (document.selection) {
                    return document.selection.createRange().text;
                }
                return '';
            }

            function justPrint() {
                console.log("just printing some text");
            }

            function replaceSelectedText(replacementText) {
                var sel, range;
                if (window.getSelection) {
                    sel = window.getSelection();
                    if (sel.rangeCount) {
                        range = sel.getRangeAt(0);
                        range.deleteContents();
                        var a = document.createElement('a');
                        var linkText = document.createTextNode(replacementText);
                        a.appendChild(linkText);
                        a.title = replacementText;
                        a.href = "";
                        a.onclick = () => {
                            justPrint();
                        };
                        a.classList.add('link-button');
                        a.contentEditable = false;

                        range.insertNode(a);
                    }
                } else if (document.selection && document.selection.createRange) {
                    range = document.selection.createRange();
                    range.text = replacementText;
                }
            }

            var drag = $('.draggable');
            $('.draggable').resizable();
            drag.draggable();
            drag.mousedown(() => {
                drag.draggable("enable");
            });
            drag.mouseup(() => {
                drag.draggable("disable");
            });

            var editDiv = $('.editable-div');
            editDiv.mousedown(() => {
                drag.draggable("disable");
            });

            var handle = $('.handle');
            handle.mousedown(() => {
                drag.draggable("enable");
            });

        });
    </script>

    <style>
        .draggable {
            width: 150px;
            height: 150px;
            padding: 0.5em;
        }
    </style>

</head>

<body>
    <div class="wrap">
        <div id="heavy" class="ui-widget-content draggable resizable">
            <div class="handle" enable="false">...</div>
            <div class="editable-div"></div>
        </div>
        <div id="light" class="ui-widget-content draggable">
            <div class="handle">...</div>
            <div class="editable-div">
                Immutable Editor State: The Draft.js model is built with immutable-js, offering an API with functional state updates and aggressively leveraging data persistence for scalable memory us
            </div>
        </div>
    </div>

    <footer>
        <div id="toolbar">

        </div>

    </footer>
</body>

</html>