body {
    width: 100vw;
    height: 100vh;
    flex-flow: column;
    overflow: scroll;
    align-content: center;
    background-color: aliceblue;
}

#toolbar {
    z-index: 2000;
}

.title {
    padding: 3px;
    margin-left: 6px;
    margin-right: 6px;
    border: 0px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .0);
    font-size: 16px;
}

.wrap {
    height: 86vh;
    width: 100%;
    padding: 20px;
    overflow: scroll;
    z-index: 0;
    /* display:flex; */
    /* flex-direction:column; */
}

.editable-div {
    border: 0px solid rgba(107, 107, 107, 0);
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: hidden;
    padding: 2px;
    flex: 1;
    display: inline;
    flex-direction: column;
    float: left;
    z-index: 3;
}

.draggable {
    border: 2.5px solid rgb(182, 199, 219);
    border-radius: 5px;
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 5px #5555552f);
}

.handle {
    text-align: center;
    border-bottom: .5px solid rgba(255, 235, 205, 0)
}

.link-button {
    width: min-content;
    background-color: rgba(91, 0, 175, 0.082);
    border-radius: 1px;
    border: .5px solid rgba(0, 0, 0, 0.205);
    text-decoration-line: none;
    padding: 1px 4px;
}

header {
    position: absolute;
    width: 70vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 3px;
}

.button-toolbar {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 5px #5555552f);
    padding: 5px;
}

.icon {
    padding: 15px;
    background-color: transparent;
    transition: 1s;
    border-radius: 5px;
    display: inline;
}

.icon:hover {
    background-color: rgba(168, 168, 168, 0.507);
}

footer {
    position: absolute;
    width: 70vw;
    /* margin-bottom: -48px; */
    align-content: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
}

.select {
    border: 0px solid white;
    background-color: transparent;
}

.ui-resizable-handle {
    color: rgba(0, 0, 0, 0.11);
}

.fr-wrapper {
    border: 0px solid rgba(0, 0, 0, 0.425);
}

.zindex {
    z-index: 4;
    filter: drop-shadow(0px 0px 3px #4d4d4d56);
}

.fr-popup {
    z-index: 2000;
}